.vscode/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
exampleFiles/**
node_modules/**
vite.config.mjs
tsconfig.node.tsbuildinfo
svelte.config.js
rollup.config.mjs